<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificar evento</title>
</head>
<body>
<!-- Mostramos el menu para movernos por las paginas -->
{% extends "layouts/base.html" %}
{% block content %}
<!-- Elemento HTML donde se mostrará el calendario -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
    height: '300px',
     width: '400px'
    });
    calendar.render();
  });
</script>
<form method="post">
<div id="calendar"  id="fecha"></div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre del evento</label>
    <input type="email" class="form-control" id="Nombre" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Música</label>
    <input type="email" class="form-control" id="Musica" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Comida</label>
    <input type="email" class="form-control" id="Comida" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Actividades recreativas</label>
    <input type="email" class="form-control" id="Actividades" placeholder="">
  </div>

  <button type="button" class="btn btn-success">Guardar</button>
  <button type="button" class="btn btn-danger">Cancelar</button>
</form>
{% endblock %}
</body>
</html>