<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .scrollable-table {
          max-height: 200px; /* Altura máxima para la tabla */
          overflow-y: auto; /* Agregar scroll vertical si es necesario */
      }
  </style>
  </head>
<body>
<!-- Mostramos el menu para movernos por las paginas -->

{% extends "layouts/base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Ver eventos y campañas</h1>
        
        <div class="mb-5">
            <div class="scrollable-table">
            <h3 class="mb-4">Ver eventos</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre del evento</th>
                        <th>Música</th>
                        <th>Comida</th>
                        <th>Actividades recreativas</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.fechaRealizacion }}</td>
                        <td>{{ evento.nombreEvento }}</td>
                        <td>{{ evento.musica }}</td>
                        <td>{{ evento.comida }}</td>
                        <td>{{ evento.actividadRecreativa }}</td>
                        <td><button class="btn btn-primary">Editar</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>

        <div>
            <h3>Ver campañas</h3>
            <div class="scrollable-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre de la campaña</th>
                            <th>Fecha inicio</th>
                            <th>Fecha final</th>
                            <th>Comida</th>
                            <th>Descripción de campaña</th>
                            <th>imagen</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campania in campanias %}
                        <tr>
                            <td>{{ campania.nombreCampania }}</td>
                            <td>{{ campania.fechaInicio }}</td>
                            <td>{{ campania.fechaFinal }}</td>
                            <td>{{ campania.descripcion }}</td>
                            <td>{{ campania.presupuesto }}</td>
                            <td>{{ campania.imagen }}</td>
                            <td><button class="btn btn-primary">Editar</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>